/* Layout */

$grid-container-width: 1010px;
$desktop-header-height: 45px;
$left-sidebar-width: 184px;
$right-sidebar-width: 300px;

/* Typography */

$primary-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size: 14px;
$font-color: rgb(58, 58, 58);
$secondary-font-color: #7d7d7d;
$link-color: #36589f;

/* Colors */

/*
$primary-color: #4080ff;
$secondary-color: #4670ff;

$red-color: #e71d36;
$green-color: #009933;

$primary-background: rgb(245, 245, 245);
$secondary-background: rgb(238, 238, 238);
*/

/* Buttons */

$btn-font-size: 13px;
$btn-font-weight: 700;